# Settings 
---

### Caution 🚧  

아래 내용을 수정하면 프로그램이 정상적으로 동작하지 않을 수 있습니다.

In [1]:
from os.path import join

url = "https://gist.githubusercontent.com/pparkddo/bc96cb657e95a11eeb783ab2cb60a798/raw/97d9518f8e98b1606bfd00fa5a371071b25d44e8/"

In [2]:
import numpy as np

In [3]:
import pandas as pd

# Problems
---

각 문제를 풀기전 입력값이 있는 셀을 꼭! 실행시켜주셔야 합니다.

1. `array` `a` 의 모든 원소의 합을 구하세요.

In [4]:
# 문제의 입력값입니다. 수정하면 정답이 달라질 수 있습니다.

a = pd.read_csv(join(url, "excercise_random_numbers.csv"), header=None).squeeze().to_numpy()

In [5]:
# 아래에 정답코드를 작성해주세요

2. `array` `a` 의 `dtype` 의 이름(`name`)을 출력하세요.

In [6]:
# 문제의 입력값입니다. 수정하면 정답이 달라질 수 있습니다.

a = pd.read_csv(join(url, "excercise_random_numbers.csv"), header=None).squeeze().to_numpy()

In [7]:
# 아래에 정답코드를 작성해주세요

3. `array` `a` 에 있는 값들 중 가장 큰 값을 구하세요.

In [8]:
# 문제의 입력값입니다. 수정하면 정답이 달라질 수 있습니다.

a = pd.read_csv(join(url, "excercise_random_numbers.csv"), header=None).squeeze().to_numpy()

In [9]:
# 아래에 정답코드를 작성해주세요

4. 경로 `path` 에 있는 `csv` 파일을 읽어서 `df` 라는 변수에 할당하세요.

In [10]:
# 문제의 입력값입니다. 수정하면 정답이 달라질 수 있습니다.

path = join(url, "excercise_records.csv")

In [11]:
# 아래에 정답코드를 작성해주세요

5. `DataFrame` `df` 의 `[student_id, answer]` 열만 선택하여 `df` 라는 변수에 할당하세요.

In [12]:
# 문제의 입력값입니다. 수정하면 정답이 달라질 수 있습니다.

df = pd.read_csv(join(url, "excercise_records.csv"))

In [13]:
# 아래에 정답코드를 작성해주세요

6. `DataFrame` `df` 중 `age` 열 값이 `40` 이상인 행들만 선택하여 `df` 라는 변수에 할당하세요.

In [14]:
# 문제의 입력값입니다. 수정하면 정답이 달라질 수 있습니다.

df = pd.read_csv(join(url, "excercise_information.csv"))

In [15]:
# 아래에 정답코드를 작성해주세요

7. `DataFrame` `df` 의 `favorite_number`열 값에 `2`를 곱하고 `-1` 을 한 값을 구하고,  
   `df` 의 `modified` 이라는 이름으로 열을 추가하세요.

In [16]:
# 문제의 입력값입니다. 수정하면 정답이 달라질 수 있습니다.

df = pd.read_csv(join(url, "excercise_information.csv"))

In [17]:
# 아래에 정답코드를 작성해주세요

8. `DataFrame` `df` 의 `department` 별 `age` 값의 평균을 구하시오.

In [18]:
# 문제의 입력값입니다. 수정하면 정답이 달라질 수 있습니다.

df = pd.read_csv(join(url, "excercise_information.csv"))

In [19]:
# 아래에 정답코드를 작성해주세요

9. `DataFrame` `df`를 `timestamp` 열 기준으로 오름차순 정렬하세요.

In [20]:
# 문제의 입력값입니다. 수정하면 정답이 달라질 수 있습니다.

df = pd.read_csv(join(url, "excercise_records.csv"), parse_dates=["timestamp"])

In [21]:
# 아래에 정답코드를 작성해주세요

10. `DataFrame` `df` 의 `student_id` 을 행으로, 각 `answer` 들을 열로 가지며,  
    값으로는 `timestamp` 의 개수(`count`)를 가지는 `DataFrame` 을 만드세요.  
    (아래 예시로 나오는 `DataFrame` 과 동일하게 만들면 됩니다.)

In [22]:
# 문제의 입력값입니다. 수정하면 정답이 달라질 수 있습니다.

df = pd.read_csv(join(url, "excercise_records.csv"))

In [23]:
# 문제의 출력 예시입니다. 'df' 를 조작하여 아래와 동일한 DataFrame 을 생성하면 됩니다.

pd.read_csv(join(url, "excercise_records_pivoted.csv")).set_index("student_id")

              1    2     3    4    5
student_id
1           4.0  8.0   6.0  2.0  3.0
2           4.0  3.0   3.0  3.0  4.0
3           3.0  5.0   3.0  5.0  4.0
4           4.0  5.0   6.0  3.0  2.0
5           7.0  4.0   7.0  7.0  2.0
6           3.0  3.0   9.0  5.0  1.0
7           2.0  7.0   5.0  4.0  1.0
8           7.0  5.0   6.0  3.0  3.0
9           3.0  5.0   1.0  5.0  2.0
10          3.0  6.0   1.0  2.0  5.0
11          6.0  2.0   2.0  5.0  5.0
12          4.0  9.0   6.0  3.0  4.0
13          3.0  1.0   5.0  7.0  6.0
14          6.0  6.0   7.0  5.0  NaN
15          4.0  2.0   6.0  2.0  2.0
16          2.0  3.0   3.0  4.0  5.0
17          2.0  3.0   3.0  3.0  5.0
18          3.0  2.0   2.0  2.0  4.0
19          1.0  2.0   3.0  3.0  2.0
20          3.0  2.0   3.0  3.0  3.0
21          3.0  3.0   3.0  7.0  4.0
22          2.0  5.0   6.0  3.0  4.0
23          4.0  4.0   5.0  7.0  3.0
24          6.0  3.0   6.0  7.0  3.0
25          4.0  6.0   4.0  4.0  2.0
26          5.0  4.0   NaN  7.0  1.0
27          2.0  2.0   6.0  3.0  3.0
28          3.0  4.0   3.0  2.0  3.0
29          3.0  4.0   8.0  2.0  5.0
30          3.0  3.0   3.0  5.0  7.0
31          1.0  2.0   6.0  3.0  5.0
32          3.0  7.0   4.0  2.0  6.0
33          2.0  2.0   5.0  2.0  3.0
34          3.0  5.0  12.0  7.0  5.0
35          1.0  6.0   4.0  2.0  4.0
36          8.0  5.0   5.0  7.0  3.0
37          6.0  4.0   5.0  8.0  2.0
38          6.0  4.0   2.0  4.0  6.0
39          5.0  3.0   2.0  2.0  8.0
40          4.0  4.0   4.0  5.0  5.0
41          4.0  5.0   3.0  3.0  1.0
42          3.0  8.0   6.0  7.0  1.0
43          4.0  3.0   7.0  3.0  2.0
44          4.0  1.0   7.0  5.0  4.0
45          5.0  4.0   4.0  5.0  1.0
46          1.0  3.0   NaN  7.0  2.0
47          2.0  5.0   6.0  5.0  3.0
48          6.0  3.0   5.0  3.0  5.0
49          3.0  4.0   5.0  5.0  8.0
50          1.0  7.0   3.0  2.0  5.0

In [24]:
# 아래에 정답코드를 작성해주세요

11. `DataFrame` `records` 에 각 학생에 대한 정보를 추가하려 합니다.  
    `DataFrame` `information` 을 `student_id` 를 `key`로 하여 하나의 테이블로 합치세요.

In [25]:
# 문제의 입력값입니다. 수정하면 정답이 달라질 수 있습니다.

records = pd.read_csv(join(url, "excercise_records.csv"))
information = pd.read_csv(join(url, "excercise_information.csv"))

In [26]:
# 아래에 정답코드를 작성해주세요

12. `DataFrame` `df` 의 `timestamp` 열을 `str` dtype 에서 `datetime` dtype 으로 변경하세요.

In [27]:
# 문제의 입력값입니다. 수정하면 정답이 달라질 수 있습니다.

df = pd.read_csv(join(url, "excercise_records.csv"))

In [28]:
# 아래에 정답코드를 작성해주세요