# Settings 
---

### Caution ğŸš§  

ì•„ë˜ ë‚´ìš©ì„ ìˆ˜ì •í•˜ë©´ í”„ë¡œê·¸ë¨ì´ ì •ìƒì ìœ¼ë¡œ ë™ì‘í•˜ì§€ ì•Šì„ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [1]:
from os.path import join

url = "https://gist.githubusercontent.com/pparkddo/b6643ed4cee951e445f0f48262c6eedc/raw/e500e30ab217c6646b881c7ba11efc2936e2f3f7/"

In [2]:
import numpy as np

In [3]:
import pandas as pd

# Problems
---

ê° ë¬¸ì œë¥¼ í’€ê¸°ì „ ì…ë ¥ê°’ì´ ìˆëŠ” ì…€ì„ ê¼­! ì‹¤í–‰ì‹œì¼œì£¼ì…”ì•¼ í•©ë‹ˆë‹¤.

1. `DataFrame` `df` ì˜ ë¶„ë‹¨ìœ„ ë‹µë³€ íšŸìˆ˜(`answer` ì˜ ê°œìˆ˜)ë¥¼ êµ¬í•˜ê³ ì í•œë‹¤.  
   ë‹¤ë§Œ 2021-3-10 0:00 ë¶„ë¶€í„° 2021-3-10 23:59 ë¶„ê¹Œì§€ ëª¨ë‘ êµ¬í•´ì•¼ í•œë‹¤.   
   (ì°¸ê³  : `timetstamp` ì—´ì€ 2021-3-10 9:00 ~ 2021-3-10 17:58 ê¹Œì§€ì˜ ë°ì´í„°ê°€ ìˆë‹¤.)  
   
- Hint : date_range

In [4]:
# ë¬¸ì œì˜ ì…ë ¥ê°’ì…ë‹ˆë‹¤. ìˆ˜ì •í•˜ë©´ ì •ë‹µì´ ë‹¬ë¼ì§ˆ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

df = pd.read_csv(join(url, "problems_records.csv"), parse_dates=["timestamp"])

In [5]:
# ë‹µì•ˆ ì˜ˆì‹œì…ë‹ˆë‹¤. ì£¼ì–´ì§„ 'df' ë¥¼ ì¡°ì‘í•˜ì—¬ ì•„ë˜ì™€ ê°™ì´ ë§Œë“¤ë©´ ë©ë‹ˆë‹¤.
# ë°ì´í„°ê°€ ì—†ëŠ” ì‹œê°„(ë¶„)ì—ëŠ” answer ê°€ 0 ìœ¼ë¡œ ë‚˜íƒ€ë‚˜ì§€ë§Œ
# 09:00 ë“± ë‹µë³€ì´ ìˆì—ˆë˜ ì‹œê°„(ë¶„)ì—ëŠ” í•´ë‹¹ ì‹œê°„ì— ìˆì—ˆë˜ ë‹µë³€ì˜ íšŸìˆ˜ê°€ ë‚˜íƒ€ë‚©ë‹ˆë‹¤.
# ìì„¸í•œ ì¶œë ¥ê°’ì€ ì•„ë˜ ë°ì´í„°ë¥¼ ì°¸ê³ í•˜ì„¸ìš”.

pd.read_csv(join(url, "problems_minutes.csv"))

                timestamp  answer
0     2021-03-10 00:00:00       0
1     2021-03-10 00:01:00       0
2     2021-03-10 00:02:00       0
3     2021-03-10 00:03:00       0
4     2021-03-10 00:04:00       0
...                   ...     ...
1435  2021-03-10 23:55:00       0
1436  2021-03-10 23:56:00       0
1437  2021-03-10 23:57:00       0
1438  2021-03-10 23:58:00       0
1439  2021-03-10 23:59:00       0

[1440 rows x 2 columns]

In [6]:
# ì•„ë˜ì— ì •ë‹µì½”ë“œë¥¼ ì‘ì„±í•´ì£¼ì„¸ìš”

2. `DataFrame` `information` ì€ ê° í•™ìƒID(`student_id`)ë³„ ë¶€ì„œ(`department`), ë‚˜ì´(`age`), ì¢‹ì•„í•˜ëŠ” ìˆ«ì(`favorite_number`) ì˜ ë°ì´í„°ì´ë‹¤.  
   `information` ì—ì„œ `favorite_number` ê°€ 3ìœ¼ë¡œ ë‚˜ëˆ„ì–´ ë–¨ì–´ì§€ëŠ” í•™ìƒë“¤ë§Œ ê³ ë¥´ê³ ,  
   `records` ì—ì„œ ìœ„ ì¡°ê±´ì— í•´ë‹¹í•˜ëŠ” í•™ìƒë“¤ì˜ ë‹µë³€ ë°ì´í„°ë¥¼ ì‹œê°„ë³„ í•©ì‚°í•˜ì—¬ ë‚˜íƒ€ë‚´ì‹œì˜¤.
   
- Hint : resample

In [7]:
# ë¬¸ì œì˜ ì…ë ¥ê°’ì…ë‹ˆë‹¤. ìˆ˜ì •í•˜ë©´ ì •ë‹µì´ ë‹¬ë¼ì§ˆ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

records = pd.read_csv(join(url, "problems_records.csv"), parse_dates=["timestamp"])
information = pd.read_csv(join(url, "problems_information.csv"))

In [8]:
# ë‹µì•ˆ ì˜ˆì‹œì…ë‹ˆë‹¤. ì£¼ì–´ì§„ records, information ì„ ì¡°ì‘í•˜ì—¬ ì•„ë˜ì™€ ê°™ì´ ë§Œë“¤ë©´ ë©ë‹ˆë‹¤.

pd.read_csv(join(url, "problems_resampled.csv")).set_index("timestamp")

                     size
timestamp
2021-03-10 09:00:00    22
2021-03-10 10:00:00    34
2021-03-10 11:00:00    28
2021-03-10 12:00:00    34
2021-03-10 13:00:00    26
2021-03-10 14:00:00    33
2021-03-10 15:00:00    36
2021-03-10 16:00:00    29
2021-03-10 17:00:00    25

In [9]:
# ì•„ë˜ì— ì •ë‹µì½”ë“œë¥¼ ì‘ì„±í•´ì£¼ì„¸ìš”

3. `DataFrame` `df` ì—ì„œ ê° í•™ìƒID(`student_id`)ë³„ ê°€ì¥ ë¹ ë¥¸ ë‹µë³€ì‹œê°(`timestamp`) ì— í•´ë‹¹í•˜ëŠ” í–‰ì„ êµ¬í•˜ì„¸ìš”.  
   ë§Œì•½ ê°€ì¥ ë¹ ë¥¸ ë‹µë³€ì‹œê°ì´ í•œ í•™ìƒIDë³„ë¡œ ë‘ê°œ ì´ìƒì¼ ê²½ìš°ì—ëŠ” ê·¸ ì¤‘ `answer` ê°’ì´ ê°€ì¥ ì‘ì€ ê²ƒì„ ê³ ë¥´ì„¸ìš”. 
   
- Hint : groupby() first

In [10]:
# ë¬¸ì œì˜ ì…ë ¥ê°’ì…ë‹ˆë‹¤. ìˆ˜ì •í•˜ë©´ ì •ë‹µì´ ë‹¬ë¼ì§ˆ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

df = pd.read_csv(join(url, "problems_records.csv"), parse_dates=["timestamp"])

In [11]:
# ë‹µì•ˆ ì˜ˆì‹œì…ë‹ˆë‹¤. ì£¼ì–´ì§„ df ë¥¼ ì¡°ì‘í•˜ì—¬ ì•„ë˜ì™€ ê°™ì´ ë§Œë“¤ë©´ ë©ë‹ˆë‹¤.

pd.read_csv(join(url, "problems_first.csv")).set_index("student_id")

                      timestamp  answer
student_id
1           2021-03-10 09:09:00       2
2           2021-03-10 09:10:00       4
3           2021-03-10 09:34:00       4
4           2021-03-10 11:11:00       2
5           2021-03-10 09:01:00       3
6           2021-03-10 09:28:00       2
7           2021-03-10 09:17:00       2
8           2021-03-10 09:01:00       4
9           2021-03-10 09:16:00       4
10          2021-03-10 09:44:00       3
11          2021-03-10 09:00:00       5
12          2021-03-10 09:53:00       4
13          2021-03-10 10:18:00       5
14          2021-03-10 09:04:00       1
15          2021-03-10 09:05:00       3
16          2021-03-10 09:01:00       5
17          2021-03-10 09:08:00       3
18          2021-03-10 09:16:00       4
19          2021-03-10 09:25:00       4
20          2021-03-10 09:06:00       2
21          2021-03-10 09:10:00       2
22          2021-03-10 09:09:00       3
23          2021-03-10 09:19:00       1
24          2021-03-10 10:08:00       4
25          2021-03-10 09:14:00       4
26          2021-03-10 09:22:00       2
27          2021-03-10 09:04:00       4
28          2021-03-10 09:06:00       2
29          2021-03-10 09:19:00       4
30          2021-03-10 09:22:00       4
31          2021-03-10 09:29:00       2
32          2021-03-10 09:24:00       2
33          2021-03-10 10:13:00       4
34          2021-03-10 09:06:00       3
35          2021-03-10 09:06:00       2
36          2021-03-10 09:18:00       5
37          2021-03-10 09:05:00       2
38          2021-03-10 09:04:00       1
39          2021-03-10 09:34:00       5
40          2021-03-10 09:24:00       5
41          2021-03-10 09:24:00       1
42          2021-03-10 10:08:00       2
43          2021-03-10 09:07:00       1
44          2021-03-10 10:26:00       5
45          2021-03-10 09:16:00       3
46          2021-03-10 09:27:00       2
47          2021-03-10 09:17:00       1
48          2021-03-10 09:37:00       3
49          2021-03-10 09:20:00       5
50          2021-03-10 09:00:00       5

In [12]:
# ì•„ë˜ì— ì •ë‹µì½”ë“œë¥¼ ì‘ì„±í•´ì£¼ì„¸ìš”