# Problems
---

각 문제를 풀기전 입력값이 있는 셀을 꼭! 실행시켜주셔야 합니다.

1. 아래 주어진 문자열 `s` 의 길이를 출력하세요.

In [1]:
# 문제의 입력값입니다. 수정하면 정답이 달라질 수 있습니다.

s = "GtkVjPZfplUliaShcHnLFyfRiAzgNeHnSXGfYHzjaKnralcMTliyRHrFmHGBDIQwYRNnMaozGmimrbYOEwBqXimWBQDgbmumKTfZMDXHrvClfikwdCmsdMwYrOiUmJHJymoAnsQMbCHdaMIwGXArNKUqjaAaIRvYtzIZiTUdQOcLiVABgUBXYKSodshHCnWiIrCQqwZh"

In [2]:
# 아래에 정답코드를 작성해주세요

2. 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타냅니다. 주민등록번호에서 성별을 나타내는 숫자를 출력하세요.

In [3]:
# 문제의 입력값입니다. 수정하면 정답이 달라질 수 있습니다.

s = "880818-1234567"

In [4]:
# 아래에 정답코드를 작성해주세요

3. 아래 주어진 문자열에서 `s` 에서 `*` 표시된 부분을 모두 ""(공백) 으로 치환하여 출력하세요.

In [5]:
# 문제의 입력값입니다. 수정하면 정답이 달라질 수 있습니다.

s = "***s*****e***c****r**e*****t*****"

In [6]:
# 아래에 정답코드를 작성해주세요

4. 아래 주어진 리스트 `l` 에서 중복된 숫자를 제거하여 출력하세요. 어떤 자료구조여도 상관없습니다.

In [7]:
# 문제의 입력값입니다. 수정하면 정답이 달라질 수 있습니다.

l = [1, 3, 6, 4, 2, 3, 4, 6, 4, 1, 3, 2, 5, 7, 3]

In [8]:
# 아래에 정답코드를 작성해주세요

5. 아래 주어진 리스트 `l` 에서 각 항목(문자열)의 길이를 출력하세요.

In [9]:
# 문제의 입력값입니다. 수정하면 정답이 달라질 수 있습니다.

l = ["한국전력", "삼성전자", "카카오", "네이버", "SK하이닉스"]

In [10]:
# 아래에 정답코드를 작성해주세요

6. 아래 주어진 딕셔너리 `d` 의 값(value)들의 평균을 계산하여 출력하세요.

In [11]:
# 문제의 입력값입니다. 수정하면 정답이 달라질 수 있습니다.

d = {
    "한국전력": 2.14,
    "삼성전자": 1.33,
    "카카오": -4.23,
    "네이버": -0.49,
    "SK하이닉스": 1.43,
}

In [12]:
# 아래에 정답코드를 작성해주세요

7. 아래 주어진 딕셔너리 `d` 의 `jennie` key 의 값을 출력하세요.

In [13]:
# 문제의 입력값입니다. 수정하면 정답이 달라질 수 있습니다.

d = {
    "jisoo": 26,
    "jennie": 25,
    "rose": 24,
    "lisa": 24,
}

In [14]:
# 아래에 정답코드를 작성해주세요

8. 아래 주어진 리스트 `l` 의 값이 음수이면 `run` 0을 포함한 양수이면 `go~~~` 를 출력하세요.

In [15]:
# 문제의 입력값입니다. 수정하면 정답이 달라질 수 있습니다.

l = [1, 4, 2, -1, 2, -1, 3, -10, 12, 30, -30, 15]

In [16]:
# 아래에 정답코드를 작성해주세요

9. 리스트(`values`)가 인자로 주어지면 그 리스트의 평균을 반환하는 함수 `mean` 을 완성시키세요.

In [17]:
# 아래에 정답코드를 작성해주세요

def mean(values):
    return

10. `math` 모듈에서 `log2` 함수를 들고와서 아래 주어진 숫자 `n` 에 대하여 밑이 2인 log 의 값을 구하세요

In [18]:
# 문제의 입력값입니다. 수정하면 정답이 달라질 수 있습니다.

n = 5192296858534827628530496329220096

In [19]:
# 아래에 정답코드를 작성해주세요