# Settings 
---

### Caution ğŸš§  

ì•„ë˜ ë‚´ìš©ì„ ìˆ˜ì •í•˜ë©´ í”„ë¡œê·¸ë¨ì´ ì •ìƒì ìœ¼ë¡œ ë™ì‘í•˜ì§€ ì•Šì„ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [1]:
from os.path import join

url = "https://gist.githubusercontent.com/pparkddo/d6b98fd72017afd109e23b18125cfcea/raw/1cd09c85165399c180461f879b3da55ce6072809/"

In [2]:
import numpy as np

In [3]:
import pandas as pd

# Problems
---

ê° ë¬¸ì œë¥¼ í’€ê¸°ì „ ì…ë ¥ê°’ì´ ìˆëŠ” ì…€ì„ ê¼­! ì‹¤í–‰ì‹œì¼œì£¼ì…”ì•¼ í•©ë‹ˆë‹¤.

1. `customer.csv` íŒŒì¼ì„ ì½ì–´ ê³„ì•½ì¢…ë³„(`type`)ë³„ë¡œ ì‚¬ìš©ëŸ‰(`usage`)ì˜ í‰ê· ì„ ì¶œë ¥í•˜ì„¸ìš”.

In [4]:
# ë‹µì•ˆ ì˜ˆì‹œì…ë‹ˆë‹¤. ì£¼ì–´ì§„ 'customer.csv' ë¥¼ ì¡°ì‘í•˜ì—¬ ì•„ë˜ì™€ ê°™ì´ ë§Œë“¤ë©´ ë©ë‹ˆë‹¤.
# ê¼­ ë°ì´í„°ê°€ ë‚˜íƒ€ë‚˜ëŠ” ëª¨ì–‘ì´ ì•„ë˜ì™€ ê°™ì§€ì•Šì•„ë„ ê´œì°®ìŠµë‹ˆë‹¤.
# ë°ì´í„°ì˜ ë‚´ìš©ë§Œ ê°™ìœ¼ë©´ ë©ë‹ˆë‹¤.

pd.read_csv(join(url, "customer_groupby.csv"))

  type        usage
0  êµìœ¡ìš©  1075.523810
1  ë†ì—…ìš©   929.862745
2  ì‚°ì—…ìš©  1047.104167
3  ì£¼íƒìš©  1017.315789

In [5]:
# ì•„ë˜ì— ì •ë‹µì½”ë“œë¥¼ ì‘ì„±í•´ì£¼ì„¸ìš”

2. `customer.csv` íŒŒì¼ì„ ì½ì–´ `usage` ê°€ í° ìˆœì„œëŒ€ë¡œ 5ê°œì˜ í–‰ë§Œì„ ì„ íƒí•˜ì—¬ ì¶œë ¥í•˜ì„¸ìš”

In [6]:
# ë‹µì•ˆ ì˜ˆì‹œì…ë‹ˆë‹¤. ì£¼ì–´ì§„ 'customer.csv' ë¥¼ ì¡°ì‘í•˜ì—¬ ì•„ë˜ì™€ ê°™ì´ ë§Œë“¤ë©´ ë©ë‹ˆë‹¤.
# ê¼­ ë°ì´í„°ê°€ ë‚˜íƒ€ë‚˜ëŠ” ëª¨ì–‘ì´ ì•„ë˜ì™€ ê°™ì§€ì•Šì•„ë„ ê´œì°®ìŠµë‹ˆë‹¤.
# ë°ì´í„°ì˜ ë‚´ìš©ë§Œ ê°™ìœ¼ë©´ ë©ë‹ˆë‹¤.

pd.read_csv(join(url, "nlargest.csv"))

   customer_id    name type  usage  is_default
0  04-84578369     ë©”íƒ€ëª½  ì£¼íƒìš©   8391         NaN
1  04-53676884    ì¥¬í”¼ì¬ë”  êµìœ¡ìš©   5923         NaN
2  04-10811025     ë§ˆììš©  ë†ì—…ìš©   2124         NaN
3  04-19497892     í”¼ì¹´ì¸„  ë†ì—…ìš©   2050         NaN
4  04-59004242  ë©”ê°€ë¦¬ìëª½X  ì£¼íƒìš©   1972         NaN

In [7]:
# ì•„ë˜ì— ì •ë‹µì½”ë“œë¥¼ ì‘ì„±í•´ì£¼ì„¸ìš”

3. `customer.csv` íŒŒì¼ì„ ì½ì–´ ì‚¬ìš©ëŸ‰(`usage`) í•˜ìœ„ 10 ê³ ê°ì˜ ì‚¬ìš©ëŸ‰ í‰ê· (`mean`), í‘œì¤€í¸ì°¨(`std`), ìµœì†Œê°’(`min`), ìµœëŒ€ê°’(`max`) ë¥¼ ì¶œë ¥í•˜ì„¸ìš”.

In [8]:
# ë‹µì•ˆ ì˜ˆì‹œì…ë‹ˆë‹¤. ì£¼ì–´ì§„ 'customer.csv' ë¥¼ ì¡°ì‘í•˜ì—¬ ì•„ë˜ì™€ ê°™ì´ ë§Œë“¤ë©´ ë©ë‹ˆë‹¤.
# ê¼­ ë°ì´í„°ê°€ ë‚˜íƒ€ë‚˜ëŠ” ëª¨ì–‘ì´ ì•„ë˜ì™€ ê°™ì§€ì•Šì•„ë„ ê´œì°®ìŠµë‹ˆë‹¤.
# ë°ì´í„°ì˜ ë‚´ìš©ë§Œ ê°™ìœ¼ë©´ ë©ë‹ˆë‹¤.

pd.read_csv(join(url, "nsmallest_agg.csv"))

  index      usage
0  mean  37.000000
1   std  28.894444
2   min   4.000000
3   max  88.000000

In [9]:
# ì•„ë˜ì— ì •ë‹µì½”ë“œë¥¼ ì‘ì„±í•´ì£¼ì„¸ìš”

4. `customer.csv` íŒŒì¼ì„ ì½ì–´ ê³„ì•½ì¢…ë³„(`type`) ì‚¬ìš©ëŸ‰ ìƒìœ„ 3 ê³ ê°ì˜ ëª©ë¡ì„ ì¶œë ¥í•˜ì„¸ìš”. ë˜ ê³„ì•½ì¢…ë³„(`type`) ë¡œ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬í•˜ì„¸ìš”.

In [10]:
# ë‹µì•ˆ ì˜ˆì‹œì…ë‹ˆë‹¤. ì£¼ì–´ì§„ 'customer.csv' ë¥¼ ì¡°ì‘í•˜ì—¬ ì•„ë˜ì™€ ê°™ì´ ë§Œë“¤ë©´ ë©ë‹ˆë‹¤.
# ê¼­ ë°ì´í„°ê°€ ë‚˜íƒ€ë‚˜ëŠ” ëª¨ì–‘ì´ ì•„ë˜ì™€ ê°™ì§€ì•Šì•„ë„ ê´œì°®ìŠµë‹ˆë‹¤.
# ë°ì´í„°ì˜ ë‚´ìš©ë§Œ ê°™ìœ¼ë©´ ë©ë‹ˆë‹¤.

pd.read_csv(join(url, "group_nlargest.csv"))

    customer_id    name type  usage  is_default
0   04-53676884    ì¥¬í”¼ì¬ë”  êµìœ¡ìš©   5923         NaN
1   04-90457746      ìœˆë””  êµìœ¡ìš©   1958         NaN
2   04-24123213    ì´ìƒí•´í’€  êµìœ¡ìš©   1902         NaN
3   04-10811025     ë§ˆììš©  ë†ì—…ìš©   2124         NaN
4   04-19497892     í”¼ì¹´ì¸„  ë†ì—…ìš©   2050         NaN
5   04-75038853      ëˆ„ì˜¤  ë†ì—…ìš©   1884         NaN
6   04-93160619     ì´ë¸Œì´  ì‚°ì—…ìš©   1955         NaN
7   04-62483315     í•´ë£¨ë¯¸  ì‚°ì—…ìš©   1888         NaN
8   04-64896994     ì´ˆë¼ê¸°  ì‚°ì—…ìš©   1868         NaN
9   04-84578369     ë©”íƒ€ëª½  ì£¼íƒìš©   8391         NaN
10  04-59004242  ë©”ê°€ë¦¬ìëª½X  ì£¼íƒìš©   1972         NaN
11    04-183495     ì•Œí†µëª¬  ì£¼íƒìš©   1958         NaN

In [11]:
# ì•„ë˜ì— ì •ë‹µì½”ë“œë¥¼ ì‘ì„±í•´ì£¼ì„¸ìš”

5.  

ì „ê¸°ìš”ê¸ˆ ë¯¸ë‚©ê³ ê°ë“¤ì˜ ëª©ë¡ì„ ì§€ì •ëœ í˜•ì‹ì²˜ëŸ¼ ì¶œë ¥í•˜ê³ ì í•©ë‹ˆë‹¤.

`customer.csv` íŒŒì¼ì„ ì½ì–´ ë¯¸ë‚©ê³ ê°ì—¬ë¶€(`is_default`) ì»¬ëŸ¼ì´ ë¯¸ë‚©(`default`)ì¸ ê³ ê°ë“¤ì„ ì„ íƒí•©ë‹ˆë‹¤. ê·¸ë¦¬ê³  ê³ ê°ë²ˆí˜¸(`customer_id`), ì´ë¦„(`name`), ì‚¬ìš©ëŸ‰(`usage`)ì„ ì‚¬ìš©ëŸ‰ ê¸°ì¤€ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬í•˜ì—¬ ì§€ì •ëœ í˜•ì‹ì— ë§ì¶° ì¶œë ¥í•˜ì„¸ìš”.

#### ì§€ì •ëœ í˜•ì‹

```
[ë¯¸ë‚©ê³ ê° ëª©ë¡]
- ê³ ê°ëª…1(ê³ ê°ë²ˆí˜¸1) : ì‚¬ìš©ëŸ‰1
- ê³ ê°ëª…2(ê³ ê°ë²ˆí˜¸2) : ì‚¬ìš©ëŸ‰2
- ê³ ê°ëª…n(ê³ ê°ë²ˆí˜¸n) : ì‚¬ìš©ëŸ‰n
```

In [12]:
# ë‹µì•ˆ ì˜ˆì‹œì…ë‹ˆë‹¤. ì£¼ì–´ì§„ 'customer.csv' ë¥¼ ì¡°ì‘í•˜ì—¬ ì•„ë˜ì™€ ê°™ì´ ë§Œë“¤ë©´ ë©ë‹ˆë‹¤.

print("""
[ë¯¸ë‚©ê³ ê° ëª©ë¡]
- ë‚ ìŒ©ë§ˆ(04-95304419) : 1687
- ëƒ„ìƒˆê¼¬(04-93863232) : 1372
- ì°Œë¦¬ë¦¬ê³µ(04-35203473) : 1136
- ë‹¨ë°ê¸°(04-68106302) : 141
- ëšœë²…ìµ¸(04-56310591) : 88
""")

[ë¯¸ë‚©ê³ ê° ëª©ë¡]
- ë‚ ìŒ©ë§ˆ(04-95304419) : 1687
- ëƒ„ìƒˆê¼¬(04-93863232) : 1372
- ì°Œë¦¬ë¦¬ê³µ(04-35203473) : 1136
- ë‹¨ë°ê¸°(04-68106302) : 141
- ëšœë²…ìµ¸(04-56310591) : 88

In [13]:
# ì•„ë˜ì— ì •ë‹µì½”ë“œë¥¼ ì‘ì„±í•´ì£¼ì„¸ìš”

6. ICTìš´ì˜ë¶€, ë°°ì „ìš´ì˜ë¶€, ê²½ì˜ì§€ì›ë¶€ì˜ ìš´ì „ë©´í—ˆ ë³´ìœ í˜„í™©ì„ ì¡°ì‚¬í•˜ê³  ìˆìŠµë‹ˆë‹¤. `ict_drivers.csv`, `dist_op_drivers.csv`, `staff_drivers.csv` íŒŒì¼ë“¤ì„ ì½ì–´ì„œ í•˜ë‚˜ì˜ `DataFrame` ìœ¼ë¡œ í•©ì¹˜ê³ , ìš´ì „ë©´í—ˆ ë³´ìœ í˜„í™© ì»¬ëŸ¼(`has_drivers_license`)ì— `o`(ì†Œë¬¸ì o)ê°€ í‘œì‹œëœ ìš´ì „ë©´í—ˆ ë³´ìœ ìë“¤ë§Œ ì¶œë ¥í•˜ì„¸ìš”.

In [14]:
# ë‹µì•ˆ ì˜ˆì‹œì…ë‹ˆë‹¤. 
# ì£¼ì–´ì§„ `ict_drivers.csv`, `dist_op_drivers.csv`, `staff_drivers.csv` ë¥¼
# ì¡°ì‘í•˜ì—¬ ì•„ë˜ì™€ ê°™ì´ ë§Œë“¤ë©´ ë©ë‹ˆë‹¤.
# ê¼­ ë°ì´í„°ê°€ ë‚˜íƒ€ë‚˜ëŠ” ëª¨ì–‘ì´ ì•„ë˜ì™€ ê°™ì§€ì•Šì•„ë„ ë‹ˆë‹¤.
# ë°ì´í„°ì˜ ë‚´ìš©ë§Œ ê°™ìœ¼ë©´ ë©ë‹ˆë‹¤.

pd.read_csv(join(url, "has_drivers_license.csv"))

   name has_drivers_license
0    ë§ˆë¦°                   o
1   ë ˆì´ìŠ¤                   o
2    ë©”ë”•                   o
3   íˆë“œë¼                   o
4  ë‹¤í¬ì•„ì¹¸                   o
5    ë®¤íƒˆ                   o
6  ì˜¤ë²„ë¡œë“œ                   o
7   ë“œë¼êµ°                   o

In [15]:
# ì•„ë˜ì— ì •ë‹µì½”ë“œë¥¼ ì‘ì„±í•´ì£¼ì„¸ìš”

7.

`pole.csv` ëŠ” ì „ì‚°í™”ë²ˆí˜¸(`pole_id`), ì œì¡°ì‚¬(`manufacturer`), ì§€ì‚¬ëª…(`branch_name`), ì£¼ì†Œ(`address`)ë¥¼ ë‹´ì€ ë°ì´í„°íŒŒì¼ì…ë‹ˆë‹¤.  

ì „ì‚°í™”ë²ˆí˜¸ê°€ `0081A123` ì²˜ëŸ¼ 0 ìœ¼ë¡œ ì‹œì‘í•˜ëŠ” ì „ì‚°í™”ë²ˆí˜¸ë“¤ì´ ìˆ«ìë¡œ ì¸ì‹ë˜ì–´ ì•ì— ìˆëŠ” 0 ë“¤ì´ ì œê±°ë˜ì—ˆìŠµë‹ˆë‹¤. (ì˜ˆì‹œ: `0081A123` -> `81A123`) ì „ì‚°í™”ë²ˆí˜¸ëŠ” ë¬´ì¡°ê±´ 8ìë¦¬ë¼ê³  í•  ë•Œ, ì•ì— ìˆëŠ” 0ì´ ì‚­ì œëœ ì „ì‚°í™”ë²ˆí˜¸ë¥¼ ë³µêµ¬ì‹œí‚¤ê³  `restored.csv` ë¼ëŠ” íŒŒì¼ëª…ìœ¼ë¡œ ì €ì¥í•˜ì„¸ìš”. (ì €ì¥ì‹œ index ëŠ” ì €ì¥í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤)

In [16]:
# ë‹µì•ˆ ì˜ˆì‹œì…ë‹ˆë‹¤. ì£¼ì–´ì§„ 'pole.csv' ë¥¼ ì¡°ì‘í•˜ì—¬ ì•„ë˜ì™€ ê°™ì´ ë§Œë“¤ë©´ ë©ë‹ˆë‹¤.
# ê¼­ ë°ì´í„°ê°€ ë‚˜íƒ€ë‚˜ëŠ” ëª¨ì–‘ì´ ì•„ë˜ì™€ ê°™ì§€ì•Šì•„ë„ ê´œì°®ìŠµë‹ˆë‹¤.
# ë°ì´í„°ì˜ ë‚´ìš©ë§Œ ê°™ìœ¼ë©´ ë©ë‹ˆë‹¤.

pd.read_csv(join(url, "restored.csv"))

      pole_id manufacturer branch_name             address
0    0089P121         Cì œì¡°ì‚¬       ë‚¨ë¶€ì‚°ì§€ì‚¬     ë‚¨êµ¬ ìš©ë‹¹ë™ 483-13 W
1    0089P173         Cì œì¡°ì‚¬        ê¹€í•´ì§€ì‚¬       ë‚¨êµ¬ ìš©ë‹¹ë™ 98-4 W
2    0089X632         Bì œì¡°ì‚¬       ì¤‘ë¶€ì‚°ì§€ì‚¬    í•´ìš´ëŒ€êµ¬ ë°˜ì†¡ë™ 756-2 W
3    0089P171         Bì œì¡°ì‚¬        ê¹€í•´ì§€ì‚¬  í•´ìš´ëŒ€êµ¬ ì¤‘ë™ 1380-25 BL
4    0089P206         Aì œì¡°ì‚¬       ì¤‘ë¶€ì‚°ì§€ì‚¬   ìˆ˜ì˜êµ¬ ê´‘ì•ˆë™ 111-24 BL
..        ...          ...         ...                 ...
130  1619Z963          NaN       ì¤‘ë¶€ì‚°ì§€ì‚¬        ë‚¨êµ¬ ì‚¼ì‚°ë™ 244 W
131  1715B693         Aì œì¡°ì‚¬       ë‚¨ë¶€ì‚°ì§€ì‚¬  ìš¸ì£¼êµ° ì„œìƒë©´ ëŒ€ì†¡ë¦¬ ì‚°6-5 M
132  1715Z542         Bì œì¡°ì‚¬       ì¤‘ë¶€ì‚°ì§€ì‚¬      ë‚¨êµ¬ ë‹¬ë™ 99-21 RI
133  1716B231         Bì œì¡°ì‚¬        ì–‘ì‚°ì§€ì‚¬      ë‚¨êµ¬ ìƒê°œë™ 306-2 W
134  9598H425         Bì œì¡°ì‚¬       ì¤‘ë¶€ì‚°ì§€ì‚¬      ë‚¨êµ¬ ì„±ì•”ë™ 22-9 PS

[135 rows x 4 columns]

In [17]:
# ì•„ë˜ì— ì •ë‹µì½”ë“œë¥¼ ì‘ì„±í•´ì£¼ì„¸ìš”

8. `pole.csv` ì—ëŠ” ì¤‘ë³µëœ ì „ì‚°í™”ë²ˆí˜¸(`pole_id`)ê°€ ì§€ì •ëœ í–‰ë“¤ì´ ìˆìŠµë‹ˆë‹¤. ì¤‘ë³µëœ ì „ì‚°í™”ë²ˆí˜¸(`pole_id`)ë“¤ì´ ê°ê° ëª‡ ë²ˆ ì¤‘ë³µë˜ì—ˆëŠ” ì§€ ì¶œë ¥í•˜ì„¸ìš”.

In [18]:
# ë‹µì•ˆ ì˜ˆì‹œì…ë‹ˆë‹¤. ì£¼ì–´ì§„ 'pole.csv' ë¥¼ ì¡°ì‘í•˜ì—¬ ì•„ë˜ì™€ ê°™ì´ ë§Œë“¤ë©´ ë©ë‹ˆë‹¤.
# ê¼­ ë°ì´í„°ê°€ ë‚˜íƒ€ë‚˜ëŠ” ëª¨ì–‘ì´ ì•„ë˜ì™€ ê°™ì§€ì•Šì•„ë„ ê´œì°®ìŠµë‹ˆë‹¤.
# ë°ì´í„°ì˜ ë‚´ìš©ë§Œ ê°™ìœ¼ë©´ ë©ë‹ˆë‹¤.

pd.read_csv(join(url, "duplicated_pole.csv"))

    pole_id  size
0  1314P021     3
1  1619R951     3
2  9103S741     6

In [19]:
# ì•„ë˜ì— ì •ë‹µì½”ë“œë¥¼ ì‘ì„±í•´ì£¼ì„¸ìš”

9. ì „ì£¼ ì œì¡°ì‚¬ í˜„í™©ì¡°ì‚¬ë¥¼ í•˜ë ¤í•©ë‹ˆë‹¤. `pole.csv` ì—ì„œ ì œì¡°ì‚¬(`manufacturer`)ê°€ ë¹„ì–´ìˆëŠ” ê°’ì˜ ê°œìˆ˜ë¥¼ ì§€ì‚¬(`branch_name`) ë³„ë¡œ ì¶œë ¥í•˜ì„¸ìš”.

In [20]:
# ë‹µì•ˆ ì˜ˆì‹œì…ë‹ˆë‹¤. ì£¼ì–´ì§„ 'pole.csv' ë¥¼ ì¡°ì‘í•˜ì—¬ ì•„ë˜ì™€ ê°™ì´ ë§Œë“¤ë©´ ë©ë‹ˆë‹¤.
# ê¼­ ë°ì´í„°ê°€ ë‚˜íƒ€ë‚˜ëŠ” ëª¨ì–‘ì´ ì•„ë˜ì™€ ê°™ì§€ì•Šì•„ë„ ê´œì°®ìŠµë‹ˆë‹¤.
# ë°ì´í„°ì˜ ë‚´ìš©ë§Œ ê°™ìœ¼ë©´ ë©ë‹ˆë‹¤.

pd.read_csv(join(url, "na_pole_size.csv"))

  branch_name  size
0        ê¹€í•´ì§€ì‚¬     4
1       ë‚¨ë¶€ì‚°ì§€ì‚¬     2
2        ì–‘ì‚°ì§€ì‚¬     3
3        ìš¸ì‚°ì§€ì‚¬     5
4       ì¤‘ë¶€ì‚°ì§€ì‚¬     6

In [21]:
# ì•„ë˜ì— ì •ë‹µì½”ë“œë¥¼ ì‘ì„±í•´ì£¼ì„¸ìš”

10. `target_pole.csv` ì— ìˆëŠ” ì „ì‚°í™”ë²ˆí˜¸(`pole_id`)ì— í•´ë‹¹í•˜ëŠ” ì „ì£¼ë§Œì„ í˜„ì¥ì—ì„œ í™•ì¸í•˜ë ¤í•©ë‹ˆë‹¤. íš¨ìœ¨ì ì¸ ì¶œì¥ë™ì„ ì„ ìœ„í•˜ì—¬ í˜„ì¥ì—ì„œ í™•ì¸í•˜ë ¤ëŠ” ì „ì£¼ì˜ ì£¼ì†Œë“¤ë¡œ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ì—¬ ì¶œë ¥í•˜ì„¸ìš”.

In [22]:
# ë‹µì•ˆ ì˜ˆì‹œì…ë‹ˆë‹¤. ì£¼ì–´ì§„ 'pole.csv', 'target_pole.csv' ë¥¼ ì¡°ì‘í•˜ì—¬ ì•„ë˜ì™€ ê°™ì´ ë§Œë“¤ë©´ ë©ë‹ˆë‹¤.
# ê¼­ ë°ì´í„°ê°€ ë‚˜íƒ€ë‚˜ëŠ” ëª¨ì–‘ì´ ì•„ë˜ì™€ ê°™ì§€ì•Šì•„ë„ ê´œì°®ìŠµë‹ˆë‹¤.
# ë°ì´í„°ì˜ ë‚´ìš©ë§Œ ê°™ìœ¼ë©´ ë©ë‹ˆë‹¤.

pd.read_csv(join(url, "merged_pole.csv"))

     pole_id  manufacturer branch_name               address
0   9303H091           NaN        ê¹€í•´ì§€ì‚¬       ë‚¨êµ¬ ë‹¬ë™ 642-11 BL
1   9910F202           NaN        ìš¸ì‚°ì§€ì‚¬          ë‚¨êµ¬ ì‚¼ì‚°ë™ 242 W
2   1619Z963           NaN       ì¤‘ë¶€ì‚°ì§€ì‚¬          ë‚¨êµ¬ ì‚¼ì‚°ë™ 244 W
3   8902W454           NaN       ë‚¨ë¶€ì‚°ì§€ì‚¬      ë™ë˜êµ¬ ì˜¨ì²œë™ 1609-1 W
4   9194Q261           NaN        ìš¸ì‚°ì§€ì‚¬    ì—°ì œêµ¬ ê±°ì œë™ 676-329 BL
5   9387Q291           NaN        ì–‘ì‚°ì§€ì‚¬   ìš¸ì£¼êµ° ë²”ì„œì ì‚¬ì—°ë¦¬ 369-1 W
6   1615G502           NaN        ê¹€í•´ì§€ì‚¬           ìš¸ì£¼êµ° ì˜¨ì‚°ì ì›ì‚°ë¦¬
7   9303X341           NaN       ì¤‘ë¶€ì‚°ì§€ì‚¬   ìš¸ì£¼êµ° ì˜¨ì‚°ì ì›ì‚°ë¦¬ ì‚°99-8 W
8   9286E694           NaN       ì¤‘ë¶€ì‚°ì§€ì‚¬  ìš¸ì£¼êµ° ì˜¨ì–‘ì ë§ì–‘ë¦¬ 683-1 RE
9   9201A521           NaN        ìš¸ì‚°ì§€ì‚¬   ìš¸ì£¼êµ° ì›…ì´Œë©´ ê³ ì—°ë¦¬ 493-6 R
10  9590F234           NaN       ì¤‘ë¶€ì‚°ì§€ì‚¬      ì¤‘êµ¬ ë‚¨ì™¸ë™ 403-12 BL
11  9299X421           NaN       ì¤‘ë¶€ì‚°ì§€ì‚¬                ì¤‘êµ¬ ë‹¤ìš´ë™
12  9303W771           NaN        ì–‘ì‚°ì§€ì‚¬      ì¤‘êµ¬ ë°˜êµ¬ë™ 614-12 BL

In [23]:
# ì•„ë˜ì— ì •ë‹µì½”ë“œë¥¼ ì‘ì„±í•´ì£¼ì„¸ìš”